:root {
    --basic-font: 'Lora', serif;
    --text-font: 'IBM Plex Sans', sans-serif;
    --yellow: #ecff07;
    --blue: #1033df;
    --black: #000000;
}
  
html {
    height: 100%;
 }

 html, body {
    background: var(--blue);
    font-family: var(--basic-font);
    font-weight: bold;
    font-size: 16px;
 }
 
 body {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    justify-content: center;
    text-align: center;
 }
 
 img {
    height: auto;
    max-width: 100%;
 }
 
 h1, h2 {
    font-family: var(--basic-font);
    color: var(--black);
    background-color: var(--yellow);
    font-weight: bold;
    font-size: 60px;
 }

 img.avatar {
    border-radius: 75px;
    height: auto;
    max-width: 150px;
 }

 input {
    color:var(--blue);
    font-size: 40px;
    font-family: var(--basic-font);
    font-weight: bold;
    padding: 12px;
 }

 .hidden {
    display: none;
 }
 
 .github-info {
    font-size: 3rem;
    line-height: 1.6;
    padding: 1rem;
 }
 
 #yourname {
    height: 50px;
    width: 250px;
 }

 #go {
    align-items: center;
    height: 50px;
    width: 250px;
 }

 button {
     font-size: 20px;
     font-family: var(--text-font);
 }

 #refresh {
    padding: 1rem;
 }
 #refresh:hover {
    cursor: pointer;
 }
 
 
 ::selection {
   background: #0000FF.hidden; /* WebKit/Blink Browsers */
 }
 ::-moz-selection {
   background: #0000FF.hidden; /* Gecko Browsers */
 }
 
 
