:root {
   --basic-font: 'Lora', serif;
   --text-font: 'Roboto', sans-serif;
   --heading: 'Special Elite', cursive;
   --heading2: 'Audiowide', cursive;
   --yellow: #ecff07;
   --blue: #1033df;
   --black:#282828;

}
  
html, body {
   background-color: white;
}
 
body {
   align-items: center;
   display: flex;
   flex-flow: column wrap;
   min-height: 100%;
   justify-content: center;
   text-align: center;
}

.udheading {
   font-family: var(--heading);
   font-size: 50px;
   width: 100%;
   text-align: left;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 0px;
}

.entry {
   width: 30%;
}

/* where you enter your name */
.entername { 
   position: relative;
   color: var(--black);
   font-family: var(--basic-font);
   border: 2px solid;
   width: 100px;
   height: 10px;
   padding-bottom: 17px;
   padding-top: 17px;
   font-size: 22px;
}

/* the "go" button to launch the results */
.inputbutton {
   position: relative;
   top: 15px;
   width: 80px;
   height: 300px;
   text-transform: uppercase;
   font-size: 12px;
}
 
.div {
   width: 60%;
   text-align: left;
}

.container {
   visibility: hidden;
   width: 60%;
   height: auto;
   margin-top: 50px;
   margin-bottom: 0;
}

.highlighted {
   width: 112px;
   object-position: center; 
}

 /* the "top definition"  text */
.topdefinition {
   margin: 0;
   text-align: left;
   font-family: var(--text-font);
   font-weight: bold;
   font-size: 14px;
   padding-left: 2px;
   background-color: var(--yellow);
}

.namediv {
   margin-top: 20px;
}

/* the name result */
.name {
   position: relative;
   margin: 0;
   color: var(--blue);
   font-family: var(--basic-font);
   font-size: 70px;
}

.definitiondiv {
   margin-top: 20px;
}

/* the definition result */
.namedefinition {
   margin: 0;
   font-family: var(--text-font);
   font-size: 16px;
   font-weight: 400;
   line-height: 1.7;
}

.examplediv {
   margin-top: 25px;
}

/* the example result */
.example {
   font-family: var(--text-font);
   font-style: italic;
   line-height: 1.7;
}

.container2 {
   visibility: hidden;
}

/* the thumbs up and thumbs down result */
.thumbsupdown {
   position: relative;
   border: 2px black solid;
   border-radius: 30px;
   width: 170px;
   height: 70px;
   padding: 10px;
}

.thumbsup {
   display: inline;
   color: black;
   font-family: var(--text-font);
   font-weight: bold;
   font-size: 17px;
   padding: 20px;
}

.thumbsdown {
   display: inline;
   color: black;
   font-family: var(--text-font);
   font-weight: bold;
   font-size: 18px;
   padding: 20px;
}



.maketextblue {
   color: var(--blue);
   text-decoration: underline; 
}