   :root {
      --basic-font: 'Lora', serif;
      --text-font: 'Roboto', sans-serif;
      --yellow: #ecff07;
      --blue: #1033df;
      --black: #000000;
   }
  

 html, body {
    background-color: white;
    height: 100%;
 }
 
 body {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    min-height: 100%;
    justify-content: center;
    text-align: center;
 }
 
 p {
    font-family: var(--text-font);
    color: black;
 }
 
 input {
   color: var(--blue);
   font-size: 40px;
   font-family: var(--text-font);
   font-weight: 400;
   padding: 12px;
   object-position: center;
 }

 .entername {
    width: 220px;
    height: 25px;
    padding-bottom: 17px;
    padding-top: 17px;
 }

 .inputbutton {
   width: 80px;
   height: 300px;
   text-transform: uppercase;
   font-size: 12px;
 }
 
 .highlighted {
   font-family: var(--text-font);
   font-weight: bold;
   font-size: 14px;
   background: var(--yellow);
   padding-top: 3px;
   padding-bottom: 3px;
   text-align: left;
   margin-top: 30px;
 }

 .name {
    font-family: var(--basic-font);
    font-size: 70px;
    color: var(--blue);
    text-align: left;
 }

 .namedefinition {
   font-size: 18px;
   font-weight: 400;
   padding: 0px 60px 0px;
   line-height: 1.6;
   margin-left: 180px;
   margin-right: 180px;
   text-align: left ;
 }
 
