.container {
    position: relative;
    display:inline-block;
    width: 50%;
    top: 20px;
    left: 20px;
}

.header {
    margin: 0;
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 50px;
    color: var(--darkblue);

    &_sub {
        margin-top: 5px;
        font-family: var(--text-font);
        font-weight: bolder;
        font-style: italic;
        font-size: 14px;
        color: black;
    }
}

a {
    text-decoration: none;
    color: var(--darkblue);
}

a:hover {
    text-decoration: none;
}

.entry {
    position: absolute;
    bottom: 0px;
    width: 90%;
    display: inline-block;
    left: 670px;
    margin: 0;
    font-family: var(--text-font);
    font-weight: bolder;
    font-style: italic;
    font-size: 16px;
    color: black;

    &_entername { 
        position: absolute;
        bottom: 0;
        width: 70%;
        height: 30px;
        padding: 5px;
        font-family: var(--sans-font);
        font-size: 17px;
    }

    &_inputbutton {
        position: absolute;
        bottom: 0;
        left: 490px;
        width: 20%;
        height: 43px;
        font-size: 12px;
        font-family: var(--sans-font);
        font-size: 17px;
        background-color: var(--lightblue);
        color: black;
    }
}
