.div {
    width: 70%;
    text-align: left;
    margin-left: 180px;

    &_name {
        margin-top: 80px;
    }

    &_definition {
        margin-top: 30px;
    }

    &_example {
        margin-top: 25px;
    }
}