.share {
    visibility: hidden;
    display: flex; 
    position: absolute;
    bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: 75px;

    &_one {
        display: inline-block;
        width: 373px;
        margin: 10px;
        font-family: var(--text-font);
        font-size: 14px;
        color: var(--darkblue);
    }

    &_two {
        display: inline-block;
        width: 312px;
        margin: 10px;
        font-family: var(--text-font);
        font-size: 14px;
        color: var(--darkblue);
    }

    &_three {
        display: inline-block;
        width: 350px;
        margin: 10px;
        font-family: var(--text-font);
        font-size: 14px;
        color: var(--darkblue);
    }
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--red); 
}